---
layout: page
title: "Hello! We are YouChoose"
sub_title: "Nice to meet you"
black_menu: true

portfolios_area:
  enable: true
  categories:
    - title: "Development"
      filter: "tech"

    - title: "Strategy"
      filter: "strategy"

    - title: "Design"
      filter: "design"
    
    - title: "Governance"
      filter: "governance"

    - title: "Legal"
      filter: "legal"

  portfolios:
    - title: "Claudio Agosti"
      sub_title: "Developer and a privacy analyst, directs Tracking Exposed, designs and supervises the tech stack."
      sm_image: "/assets/images/art/team/claudio_team.jpeg"
      big_image: "/assets/images/art/team/claudio_team.jpeg"
      url: "https://sociale.network/@vecna"
      filters:
        - tech
    - title: "Marc Faddoul"
      sub_title: "AI researcher and algorithmic designer. He leads the product strategy and gathers partners around the project."
      sm_image: "/assets/images/art/team/marc_team.jpeg"
      big_image: "/assets/images/art/team/marc_team.jpeg"
      url: "http://www.marcfaddoul.com/"
      filters:
        - strategy
    - title: "Primavera De Filippi"
      sub_title: "blockchain expert, legal scholar and activist. She oversees the governance and peer community."
      sm_image: "/assets/images/art/team/primavera_team.jpeg"
      big_image: "/assets/images/art/team/primavera_team.jpeg"
      url: "https://en.wikipedia.org/wiki/Primavera_De_Filippi"
      filters:
        - governance
    - title: "Andrea Ascari"
      sub_title: "full stack developer and activist. He develops YouChoose's tech ecosystem with Claudio and François   ."
      sm_image: "/assets/images/art/team/andrea_team.jpg"
      big_image: "/assets/images/art/team/andrea_team.jpg"
      url: "https://github.com/ascariandrea"
      filters:
        - tech
    - title: "François-Marie de Jouvencel"
      sub_title: "full stack developer and product manager, passionate about open technologies."
      sm_image: "/assets/images/art/team/fm_team.jpeg"
      big_image: "/assets/images/art/team/fm_team.jpeg"
      url: "https://fr.linkedin.com/in/fran%C3%A7ois-marie-de-jouvencel-53286141"
      filters:
        - tech
    - title: "Giulia Corona"
      sub_title: "communication designer and data analyst, working on the UX design and visuals."
      sm_image: "/assets/images/art/team/giulia_team.jpeg"
      big_image: "/assets/images/art/team/giulia_team.jpeg"
      url: "#"
      filters:
        - design
    - title: "Silvia Semenzin"
      sub_title: "post-doctoral researcher in Sociology and an activist. She is in charge of the community building of YouChoose."
      sm_image: "/assets/images/art/team/silvia_team.jpg"
      big_image: "/assets/images/art/team/silvia_team.jpg"
      url: "https://www.silviasemenzin.it/"
      filters:
        - strategy
    - title: "Salvatore Romano"
      sub_title: "social psychologist, working on algorithmic analysis, user research and interviews."
      sm_image: "/assets/images/art/team/salvo_team.jpeg"
      big_image: "/assets/images/art/team/salvo_team.jpeg"
      url: "https://github.com/SalvatoreRomano1/About_Me"
      filters:
        - strategy
    - title: "Alessandro Polidoro"
      sub_title: "lawyer experienced in data protection law and digital forensics. Youchoose Legal Counsel."
      sm_image: "/assets/images/art/team/alessandro_team.jpg"
      big_image: "/assets/images/art/team/alessandro_team.jpg"
      url: "#"
      filters:
        - legal

clients_carousel:
    enable: true
    title: "Sponsors and mentors"
      
---

{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles text-center light-gallery-wrapper">
        <div class="row isotope">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main overlay overlay2 rounded mb-30">
                <a href="{{portfolio.big_image}}" class="lightbox"> 
              	  <img src="{{portfolio.sm_image}}" alt="{{portfolio.title}}"/>
                </a>
              </figure>
              <div class="post-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div class="meta mb-0">{{portfolio.sub_title}}</div>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
      {% if page.clients_carousel.enable %}
    <div class="cliensts-carousel-wrapper">
        <div class="space30"></div>
        {% if page.clients_carousel.title %}
        <div class="text-center">
            <h2 class="title-bg bg-rose color-rose">{{page.clients_carousel.title}}</h2>
        </div>
        {% endif %}
        <div class="space30"></div>
        {% include clients_carousel.html %}
        </div>
    </div>
    {% endif %}
    </div>
    <!-- /.grid -->
  </div>
{% endif %}
