---
layout: page
title: "Hello! We are YouChoose"
sub_title: "Nice to meet you"
black_menu: true

portfolios_area:
  enable: true
  categories:
    - title: "Development"
      filter: "tech"

    - title: "Strategy"
      filter: "strategy"

    - title: "User Research"
      filter: "ux"

    - title: "Design"
      filter: "design"

    - title: "Legal"
      filter: "legal"

  portfolios:
    - title: "Claudio Agosti"
      sub_title: "Free-software developer and privacy analyst. He co-founded the project, and designs and supervises the tech stack."
      sm_image: "/assets/images/art/team/claudio_team.jpeg"
      big_image: "/assets/images/art/team/claudio_team.jpeg"
      url: "https://sociale.network/@vecna"
      filters:
        - tech
    - title: "Marc Faddoul"
      sub_title: "AI researcher and algorithmic designer. He co-founded the project, and drives its strategy and development."
      sm_image: "/assets/images/art/team/marc_team.jpeg"
      big_image: "/assets/images/art/team/marc_team.jpeg"
      url: "http://www.marcfaddoul.com/"
      filters:
        - strategy
    - title: "Primavera De Filippi"
      sub_title: "Blockchain expert and legal scholar. She co-founded the project, and oversees its governance."
      sm_image: "/assets/images/art/team/primavera_team.jpeg"
      big_image: "/assets/images/art/team/primavera_team.jpeg"
      url: "https://en.wikipedia.org/wiki/Primavera_De_Filippi"
      filters:
        - strategy
    - title: "Andrea Ascari"
      sub_title: "Full stack-developer. He lead the development of YouChoose's front and backend."
      sm_image: "/assets/images/art/team/andrea_team.jpg"
      big_image: "/assets/images/art/team/andrea_team.jpg"
      url: "https://github.com/ascariandrea"
      filters:
        - tech
    - title: "François-Marie de Jouvencel"
      sub_title: "Full stack-developer and product manager. He contributes his technical and product experience."
      sm_image: "/assets/images/art/team/fm_team.jpeg"
      big_image: "/assets/images/art/team/fm_team.jpeg"
      url: "https://fr.linkedin.com/in/fran%C3%A7ois-marie-de-jouvencel-53286141"
      filters:
        - tech
    - title: "Giulia Corona"
      sub_title: "Communication designer and data analyst. She works on the UX design and visuals."
      sm_image: "/assets/images/art/team/giulia_team.jpeg"
      big_image: "/assets/images/art/team/giulia_team.jpeg"
      url: "#"
      filters:
        - design
    - title: "Silvia Semenzin"
      sub_title: "Post-doctoral researcher in Sociology. She is in charge of the community building of YouChoose."
      sm_image: "/assets/images/art/team/silvia_team.png"
      big_image: "/assets/images/art/team/silvia_team.png"
      url: "https://www.silviasemenzin.it/"
      filters:
        - ux
    - title: "Salvatore Romano"
      sub_title: "Social Psychologist. He supervises the user experience research."
      sm_image: "/assets/images/art/team/salvo_team.jpeg"
      big_image: "/assets/images/art/team/salvo_team.jpeg"
      url: "https://github.com/SalvatoreRomano1/About_Me"
      filters:
        - ux
    - title: "Alessandro Polidoro"
      sub_title: "Lawyer experienced in data protection law. He advises the team on legal issues."
      sm_image: "/assets/images/art/team/alessandro_team.jpg"
      big_image: "/assets/images/art/team/alessandro_team.jpg"
      url: "#"
      filters:
        - legal

clients_carousel:
    enable: true
    title: "Sponsors and mentors"

contact_area:
    enable: true
    title: "Get in Touch"
    sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
    action_email: "youchoose@tracking.exposed"
    lists:
      - title: E-mail
        info_01: "youchoose@tracking.exposed"
        icon: "jam jam-envelope-open"
      
      - title: Slack
        info_01: "trackingexposed.slack.com"
        icon: "jam jam-gps"
  
    forms_data: 
  
      - field_type: "input"
        field_name: "first_name"
        placeholder: "Name" 
        error_message: "Name Is required" 
  
      - field_type: "input"
        field_name: "user_email"
        placeholder: "Email"
        error_message: "Email Is required"
  
      - field_type: "textarea"
        field_name: "user_message"
        placeholder: "Message"
        error_message: "Message Is required"
      
---

{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles text-center light-gallery-wrapper">
        <div class="row isotope">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main overlay overlay2 rounded mb-30">
                <a href="{{portfolio.big_image}}" class="lightbox"> 
              	  <img src="{{portfolio.sm_image}}" alt="{{portfolio.title}}"/>
                </a>
              </figure>
              <div class="post-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div class="meta mb-0">{{portfolio.sub_title}}</div>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
      {% if page.clients_carousel.enable %}
    <div class="cliensts-carousel-wrapper">
        <div class="space130"></div>
        {% if page.clients_carousel.title %}
        <div class="text-center">
            <h2 class="title-bg bg-rose color-rose">{{page.clients_carousel.title}}</h2>
        </div>
        {% endif %}
        <div class="space30"></div>
        {% include clients_carousel.html %}
        </div>
    </div>
    {% endif %}
    </div>
    <!-- /.grid -->
  </div>
{% endif %}

{% if page.contact_area.enable %}
<section id="contact">
  <div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
          <div class="col-md-8">
        {% if page.contact_area.title %}
         <h2 class="section-title">{{page.contact_area.title}}</h2>
        {% endif %}
        {% if page.contact_area.sub_title %}
         <p class="lead larger">{{page.contact_area.sub_title}}</p>
        {% endif %}
          </div>
        </div>
      <div class="space40"></div>
      <div class="row">
        <div class="col-lg-4">
          {% for lists in page.contact_area.lists %}
          <div class="d-flex flex-row">
            <div>
              <div class="icon color-default fs-34 mr-25"> <i class="{{lists.icon}}"></i> </div>
            </div>
            <div>
              <h6 class="mb-5">{{lists.title}}</h6>
              <address>{{lists.info_01}} 
                {% if lists.info_02 %}
                <br class="d-none d-md-block" />
                {{lists.info_02}}
               {% endif %}
              </address>
            </div>
          </div>
          {% endfor %}
        </div>
        <!--/column -->
        <div class="col-lg-8">
          <form id="contact-form" class="fields-white" method="post" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
            <div class="messages"></div>
            <div class="controls">
              <div class="form-row">
                {% for forms_data in page.contact_area.forms_data %}
                {% if forms_data.field_type == "input" %}
                <div class="col-lg-12 col-xl-6">
                  <div class="form-group">
                    <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}}  *" required="required" data-error="{{forms_data.error_message}}">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% else if forms_data.field_type == "textarea" %}
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <input type="submit" class="btn btn-send" value="Send message">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
                </div>
              </div>
            </div>
          </form>
          <!-- /form -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>
<!-- /section --> 
{% endif %}