---
layout: default
title: YouChoose
sub_title: "YouChoose AI"
description: "YouChoose your recommendation system"

hero_area:
  enable: true
  title: "Choose Your Recommender System"
  sub_title: |
    Get Gem Suggestions from YouTubers
  button_text: "Download the extension"
  button_url: "/addon"
  header_image: "/assets/images/art/backgroundgems.svg"
  header_bottom_image: "/assets/images/art/extension.gif"


two_column_one:
  enable: true
  title: "An alternative recommender system made for you"
  image: "/assets/images/art/GEMS.svg"
  button_text: "go to studio"
  button_url: "https://studio.youchoose.ai/"
  paragraphs:
    - text1: |
        Content Creators are the lifeblood of YouTube. With YouChoose they can choose recommendations on their own content, and <b>spread gems</b> from all over the internet.


two_column_mirror:
  enable: true
  title: "A non-profit project <br> for digital freedom"
  image: "/assets/images/art/GEMS2.svg"
  button_text: "Philosophy"
  button_url: "/philosophy"
  paragraphs:
    - text: |
        YouChoose is a <b>free software</b> project, whose mission is to empower users and content creators over big internet corporations.
        We build <b>the first ecosystem of alternative recommender systems</b> for YouTube, where curation can be decentralized to the community.
        Together, we can <b>break free from algorithmic monopolies!</b>


video:
  enable: false
  title: "A quick tour"
  sub_title: "How to install and use the tool"
  video_image: "/assets/media/demo.png"
  mp4_video: "/assets/media/demo.mp4"
  webm_video: "/assets/media/demo.webm"


services_area:
  enable: false
  title: "OUR SERVICE"
  sub_title: "Empowering both sides of the tube"
  services:

    - title: "Content Creators"
      image: "/assets/images/art/i1.png"
      description: 
      button_text: "Choose your Recommendations"
      button_url: "/studio"
      lists:
      - "Pick the recommendations on your own videos"
      - "Link to your Patreon, blog, or anything else"
      - "Analyse how the algorithm treats your content"

    - title: "Users"
      image: "/assets/images/art/i2.png"
      description: 
      button_text: "Discover the Extension"
      button_url: "/addon"
      lists:
      - "Enhanced experience directly on YouTube.com"
      - "Choose the best recommendation feed for you"
      - "Get suggestions from your favourite YouTubers"


slider_area:
  enable: false
  sliders:
    - title: "Pick Recommendations on Your Own Videos"
      sub_title: "Engage your audience with your best suggestions"
      image: "/assets/images/concept/screen-lab.png"
      bg_image: "/assets/images/concept/bgg4.svg"
      button_text: "Learn More" 
      button_url: "/studio"

    - title: "Analyse Your Algorithmic Treatment"
      sub_title: "Discover which ads and videos get recommended on your content"
      image: "/assets/images/concept/screen-analytics.png"
      bg_image: "/assets/images/concept/bgg5.svg"
      button_text: "Learn More" 
      button_url: "/studio"
    
    - title: "Choose Your Preferred Recommender System"
      sub_title: "Toggle between recommendations from Content Creators or YouTube"
      image: "/assets/images/concept/screen-yt.png"
      bg_image: "/assets/images/concept/bgg3.svg"
      button_text: "Learn More" 
      button_url: "/addon"


page_content:
  enable: false
  title: "We are currently beta testing!"
  sub_title: "Reach out to help us review the tool. Estimated time before the public launch:"
  date: "Mar 7 2022"


progress_area:
  enable: true
  title: "Project Overall Progress"
  sub_title: "Beta Testing"
  lists:
    - title: "Development"
      description: "Robust free-software"
      numbers: 80
      bar_color: "violet"

    - title: "Design"
      description: "Humans first and user friendly"
      numbers: 55
      bar_color: "yellow"
    
    - title: "Outreach"
      description: "We rely on word of mouth"
      numbers: 30
      bar_color: "rose"


clients_carousel:
  enable: true
  title: "Sponsors and mentors"


faq_area:
  enable: true
  title: "FAQ"
  sub_title: "Questions?"
  image: "/assets/images/art/faq.svg"
  tabs:
    - question: "Can I use the tool for free?"
      answer: |
        Yes. YouChoose is freeware, which means all of its functionalities are free to be used for no cost.<br><br>
        Though, if you believe in the project, you can make a donation which will be used to support its development.

    - question: "If it's free, how do you financially sustain the project?"
      answer: |
        YouChoose is built by a non-profit organization, which is funded by grants and donation.<br><br>
        The goal is not to make money, but to empower internet users to gain agency back from the huge tech platforms.
        This project has received funding from the European Union’s Horizon 2020 research and innovation programme within the framework of the LEDGER Project funded under grant agreement No 825268.

    - question: "Do I need to create an account to use Youchoose?"
      answer: |
        No. If you are a user, you just need to download the extension, and you are ready to go.<br><br>
        If you are a Content Creator, we will just need you to demonstrate that you effectively own your Youtube channel.
        The process takes 2 minutes and consists in posting a unique code from your YouTube account. Then you can start customizing your recommendations!

    - question: "Who can see my recommendations?"
      answer: |
        When you add custom recommendations, they will be visible directly on YouTube.com to any user who has the YouChoose extension enabled on their browser.

    - question: "What is the Data Donation feature?"
      answer: |
        As part of our mission to defend internet users against corporations, we investigate the platform's algorithm. We share our results with content creators, regulators, and you.
        Our efforts are made possible thanks to the YouChoose users who enable Data Donation on their extension, which shares the recommendation made by YouTube's AI with our server.<br><br>
        Data donation is disabled by default, please enable it to help us watch on BigTech! [Learn more](https://youchoose.ai/data-donation).

    - question: "If I enable Data Donation, will my records be safe?"
      answer: |
        Yes. If you enable data donation, your data will be sent over an encrypted channel, and fully anonymised.
        We don't collect any of your personal data, only the recommendations send to you by YouTube. But we decided to go even further, so that they could never be linked back to you.<br><br>
        The recommendations are stored in Zero-Knowledge database, which means that every recommendation record is signed with a unique cryptographic token, generated with your private key.
        Because only you have this private key, only you can claim these records, aggregate them, or delete them. No one else can relink your contributions together.
        Not even us, or any hypothetical attacker who would breach into the database. [Learn more](https://youchoose.ai/data-donation).

    - question: "Why do we need different recommendations?"
      answer: |
        The vast majority of the content we watch on YouTube is recommended by one of YouTube's algorithm. Though, these systems are not neutral, and they are optimised for the platform's profit, not your best interest.<br><br>
        In order to maximise engagement and ad revenues, the algorithm tends to amplify the most attention-catching and sensationalist content, which is typically not the highest quality content.<br><br>
        Even when YouTube makes good recommendations, the underlying system remains opaque, unaccountable, and is not customizable. There are various good approaches to recommend content, and you should have options to choose which is best for you.

    - question: "I love what you are doing! How can I help?"
      answer: |
        We appreciate your support, it can take many forms!<br><br>
        A good start is to share YouChoose on social media and with your network. We don't have an advertising budget, so we rely on word of mouth to promote the tool.<br><br>
        If you are a content creator, it is extremely helpful if you can introduce YouChoose in one of your videos. The more your audience downloads YouChoose, the more your recommendations will be seen, and the richer your analytics data will be.<br><br>
        If you use YouChoose, please enable Data Donation. Your help is essential to scrutinize YouTube's algorithm.<br><br>
        If you are a developer, you can have a look at our GitHub issues, or reach out by email to discuss how we can collaborate on the code.<br><br>
        If you have any spare time or other skills to share, you surely can contribute. We would appreciate help in outreach efforts, UX research, design, fundraising... We are still a small and a bit understaffed team, so you can make a real impact!
        Finally, please consider donating money or crypto to support the development of the project 🙏


two_column_two:
  enable: false
  title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/art/ui3.png"
  button_text: "More Details"
  button_url: "#"
  paragraphs:
    - text: |

    - text: |
        We believe users should be in control of their informational diet, and have the agency to decide who to trust.

two_column_three:
  enable: false
  title: "Just sit back and relax while we take care of your business needs"
  image: "/assets/images/art/GEMS.svg"
  button_text: "More Details"
  button_url: "#"
  paragraphs:
    - text: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis.
    - text: |
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et nascetur ridiculus.

testimonials:
  enable: false
  image: "/assets/images/art/woman.png"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      name: "Cornelia Gibson"
      designation: "Financial Analyst"

    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      name: "Coriss Ambady"
      designation: "Marketing Specialist"

    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Barclay Widerski"
      designation: "Sales Manager"


---

<link rel="stylesheet" type="text/css" href="/assets/css/color/cobalt.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/font/font4.css" />
<div class="content-wrapper">
    {% include header.html extra_class="wide absolute transparent inverse-text nav-uppercase" light_logo="true" %} 
    {% if page.hero_area.enable %}
    <div class="wrapper dark-wrapper">
        <div class="rev_slider_wrapper fullwidth-container">
            <div id="slider5" class="rev_slider fullwidthbanner" data-version="5.4.7">
                <ul>
                    <li data-transition="fade" data-thumb="">
                        <img src="{{page.hero_area.header_image}}" alt="{{page.hero_area.title}}" />
                        <div
                            class="tp-caption font-weight-600 color-white text-center tp-caption-title"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['-165','-165','-165','-145']"
                            data-fontsize="['50','50','35','30']"
                            data-lineheight="['65','65','50','45']"
                            data-width="['1000','1000','600','340']"
                            data-textAlign="['center','center','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.title}}
                        </div>
                        <!-- /.tp-caption -->
                        <div
                            class="tp-caption font-weight-400 color-white text-center"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['-80','-80','-80','-35']"
                            data-fontsize="['26','26','26','20']"
                            data-lineheight="['36','36','36','30']"
                            data-width="['600','600','600','340']"
                            data-textAlign="['center','center','center','center']"
                            data-whitespace="['normal','normal','normal','normal']"
                            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                        >
                            {{page.hero_area.sub_title}}
                        </div>
                        <!-- /.tp-caption -->
                        <a
                            class="tp-caption btn btn-l btn-white btn-strong-hover scroll"
                            data-x="center"
                            data-y="middle"
                            data-voffset="['15','15','15','40']"
                            data-width="['auto','auto','auto','auto']"
                            data-textAlign="['center','center','center','center']"
                            data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-responsive="on"
                            data-responsive_offset="on"
                            style="z-index: 9;"
                            href="{{page.hero_area.button_url}}"
                        >
                            {{page.hero_area.button_text}}
                        </a>
                        <!-- /.tp-caption -->
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.rev_slider -->
            <div class="divider">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
                    <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" />
                </svg>
            </div>
        </div>
        <!-- /.rev_slider_wrapper -->
    </div>
  </div>
{% endif %}

<div class="wrapper overflow-top bleed-sm-s">
        <div class="container inner pt-0">
            <div class="features-wrapper">
                {% if page.hero_area.enable %}
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <figure>
                            <img src="{{page.hero_area.header_bottom_image}}" alt="{{page.hero_area.title}}" />
                        </figure>
                    </div>
                    <!-- /column -->
                </div>

                {% if page.two_column_one.enable %}
                <div class="two-column-one inner">
                    <div class="space60"></div>
                    <div class="row align-items-center">
                        {% if page.two_column_one.image %}
                        <div class="col-lg-6">
                            <figure>
                                <img src="{{page.two_column_one.image}}" href='https://www.freepik.com/vectors/people' alt="{{page.two_column_one.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="space40 d-lg-none"></div>
                        <div class="col-lg-6 pl-60 pl-md-30">
                            {% if page.two_column_one.title %}
                            <h2 class="display-3">{{page.two_column_one.title}}</h2>
                            {% endif %}
                            {% for text_data in page.two_column_one.paragraphs %}
                            <p>{{text_data.text1}}</p>
                            {% endfor %} 
                            {% if page.two_column_one.title2 %}
                            <h2 class="display-3" style="padding-top: 20px;">{{page.two_column_one.title2}}</h2>
                            {% endif %}
                            {% for text_data in page.two_column_one.paragraphs %}
                            <p>{{text_data.text2}}</p>
                            {% endfor %}
                            {% if page.two_column_one.title3 %}
                            <h2 class="display-3" style="padding-top: 20px;">{{page.two_column_one.title3}}</h2>
                            {% endif %}
                            {% for text_data in page.two_column_one.paragraphs %}
                            <p>{{text_data.text3}}</p>
                            {% endfor %}
                            {% if page.two_column_one.button_text %}
                            <a href="{{page.two_column_one.button_url}}" class="btn btn-default btn-rose mt-20">{{page.two_column_one.button_text}}</a>
                            {% endif %}
                            {% if page.two_column_one.button2_text %}
                            <a href="{{page.two_column_one.button2_url}}" class="btn btn-violet mt-20">{{page.two_column_one.button2_text}}</a>
                            {% endif %}
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                {% endif %} 

                {% if page.two_column_mirror.enable %}
                <div class="two-column-one inner">
                    <div class="space60"></div>
                    <div class="row align-items-center">
                        <div class="space40 d-lg-none"></div>
                        <div class="col-lg-6 pl-60 pl-md-30">
                            {% if page.two_column_mirror.title %}
                            <h2 class="display-3">{{page.two_column_mirror.title}}</h2>
                            {% endif %}
                            {% for text_data in page.two_column_mirror.paragraphs %}
                            <p>{{text_data.text}}</p>
                            {% endfor %} 
                            {% if page.two_column_mirror.title2 %}
                            <h2 class="display-3" style="padding-top: 20px;">{{page.two_column_mirror.title2}}</h2>
                            {% endif %}
                            {% for text_data in page.two_column_mirror.paragraphs %}
                            <p>{{text_data.text2}}</p>
                            {% endfor %}
                            {% if page.two_column_mirror.title3 %}
                            <h2 class="display-3" style="padding-top: 20px;">{{page.two_column_mirror.title3}}</h2>
                            {% endif %}
                            {% for text_data in page.two_column_mirror.paragraphs %}
                            <p>{{text_data.text3}}</p>
                            {% endfor %}
                            {% if page.two_column_mirror.button_text %}
                            <a href="{{page.two_column_mirror.button_url}}" class="btn btn-default btn-rose mt-20">{{page.two_column_mirror.button_text}}</a>
                            {% endif %}
                            {% if page.two_column_mirror.button2_text %}
                            <a href="{{page.two_column_mirror.button2_url}}" class="btn btn-violet mt-20">{{page.two_column_mirror.button2_text}}</a>
                            {% endif %}
                        </div>
                        {% if page.two_column_mirror.image %}
                        <div class="col-lg-6">
                            <figure>
                                <img src="{{page.two_column_mirror.image}}" href='https://www.freepik.com/vectors/people' alt="{{page.two_column_mirror.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                {% endif %} 
                
                {% if page.video.enable %}
                <div class="container">
                  <div class="space120"></div>
                    <div class="col-lg-10 mx-auto">
                     {% if page.video.title %}
                      <h3 class="mb-20 text-center display-3">{{page.video.title}}</h3>
                     {% endif %}
                     {% if page.video.sub_title %}
                     <p class="lead larger text-center">{{page.video.sub_title}}</p>
                     {% endif %}
                     <div class="space20"></div>
                      <video poster="{{page.video.video_image}}" class="player" playsinline controls preload="none">
                          {% if page.video.mp4_video %}
                          <source src="{{page.video.mp4_video}}" type="video/mp4" />
                          {% endif %} 
                          {% if page.video.webm_video %}
                          <source src="{{page.video.webm_video}}" type="video/webm" />
                          {% endif %}
                      </video>
                    </div>
                </div>    
                {% endif %} 

                {% if page.services_area.enable %}
                <div class="space30"></div>
                <div class="wrapper light-wrapper">
                  <div class="container inner">
                    {% if page.services_area.enable %}
                    <div class="row">
                      <div class="col-md-7 mx-auto">
                        <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
                        <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
                        <div class="space40"></div>
                      </div>
                    </div>	
                    {% endif %}
                    {% if page.services_area.enable %}
                    <div class="row gutter-60 text-center align-items-end">
                      {% for service in  page.services_area.services  %}
                      <div class="col-md-5 mx-auto">
                        {% if service.image %}
                        <div class="img-blob blob8 mb-30">
                          <img src="{{service.image}}" style="width: 15rem" alt="{{service.title}}"/>
                        </div>
                        {% endif %}
                        <h4>{{service.title}}</h4>
                        <p class="mb-15 color-rose font-weight-600">{{service.description}}</p>
                        <ul class="icon-list bullet-default bullet-pink text-left">
                          {% for list in service.lists %}
                           <li>
                             <i class="icofont-verification-check"></i>
                             {{list}}
                          </li>
                          {% endfor %}
                         </ul>
                        {% if service.button_text %}
                         <div class="text-center"><a href="{{service.button_url}}" class="more color-rose">{{service.button_text}}</a></div>
                        {% endif %}
                      </div>
                      {% endfor %}
                    </div>
                    <!--/.row -->
                    {% endif %}

                    {% if page.process_area.enable %}
                    <div class="row">
                      <div class="col-md-7 mx-auto">
                        <div class="space160"></div>
                        <h2 class="title-color color-gray text-center">{{page.process_area.title}}</h2>
                        <h3 class="display-3 text-center">{{page.process_area.sub_title}}</h3>
                        <div class="space40"></div>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      {% if page.process_area.image %}
                      <div class="col-lg-8">
                        <figure>
                          <img src="{{page.process_area.image}}" alt="{{page.process_area.title}}"/>
                        </figure>
                      </div>
                      {% endif %}
                      <div class="space20 d-md-none"></div>
                      <div class="space50 d-none d-md-block d-lg-none"></div>
                      <div class="col-lg-3 pl-50 pr-lg-0 pl-md-0">
                        {% for list in page.process_area.lists %}
                        <div class="d-flex flex-row justify-content-center">
                          <div>
                            <span class="icon icon-bg icon-bg-default color-default mr-25">
                              <span class="number">{{forloop.index}}</span>
                            </span>
                          </div>
                          <div>
                            <h5>{{list.title}}</h5>
                            <p class="mb-0">
                              {{list.description}}
                            </p>
                          </div>
                        </div>
                        <div class="space20"></div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <!-- /.wrapper -->
                {% endif %}

{% if page.slider_area.enable %}
<div class="wrapper white-wrapper">
  <div class="rev_slider_wrapper fullwidth-container dark-spinner dark-nav">
    <div id="slider16" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
      	{% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          <img src="/assets/images/dummy.png" data-bgcolor="#fff" alt="slider"/>
          {% if slider.bg_image %}
          <div class="tp-caption" 
             data-x="['center','center','center','center']" 
             data-y="['bottom','bottom','bottom','bottom']" 
             data-hoffset="['0','0','0','0']" 
             data-voffset="['-2','-2','-2','-2']" 
             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:0.2;","ease":"Power3.easeInOut"},{"delay":"wait","speed":10,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
             data-visibility="['on','on','on','on']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" 
             data-basealign="slide" style="z-index: 5;">
             <img data-lazyload="" src="{{slider.bg_image}}" data-ww="['100%','100%','100%','100%']"
             data-hh="['auto','auto','auto','auto']" alt="{{slider.title}}" />  
        </div>
	      <!-- /.tp-caption -->
	      {% endif %}
	      {% if slider.image %}
          <div class="tp-caption" 
             data-x="left" 
             data-y="middle" 
             data-hoffset="['500','500','390','420']"
             data-voffset="20" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
             data-visibility="['on','on','on','off']"
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive_offset="on" 
             data-basealign="grid" style="z-index: 5;"><img 
             data-lazyload="" src="{{slider.image}}" 
             data-ww="780"
             data-hh="auto" alt="" />  
          </div>
	      <!-- /.tp-caption -->
	      {% endif %}
	      {% if slider.title %}
          <div class="tp-caption font-weight-600 color-dark" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['0','0','30','30']"
             data-voffset="['-105','-105','-145','-115']" 
             data-fontsize="['40','40','36','36']" 
             data-lineheight="['52','52','46','46']" 
             data-width="['450','450','340','340']"
             data-textAlign="['left','left','left','left']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.title}}
        </div>
	     <!-- /.tp-caption -->
	     {% endif %}
	     {% if slider.sub_title %}
          <div class="tp-caption font-weight-400 color-dark" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['0','0','30','30']"
             data-voffset="[0','0','0','30']" 
             data-fontsize="['26','26','24','24']" 
             data-lineheight="['36','36','34','34']" 
             data-width="['450','450','340','340']" 
             data-textAlign="['left','left','left','left']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}} 
        </div>
	     <!-- /.tp-caption -->
	     {% endif %}
	     {% if slider.button_text %}
          <a class="tp-caption btn btn-l btn-rose" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['0','0','30','30']"
             data-voffset="['95','95','115','145']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['left','left','left','left']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_url}}"> {{slider.button_text}}
        </a>
	    <!-- /.tp-caption -->
	    {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
                {% if page.page_content.enable %}
                <div class="container">
                  <div class="space120"></div>
                    {% if page.page_content.title %}
                     <h1 class="mb-20 display-3 text-center">{{page.page_content.title}}</h1>
                    {% endif %}
                    {% if page.page_content.sub_title %}
                    <p class="lead larger text-center">{{page.page_content.sub_title}}</p>
                    {% endif %}
                    <div class="space20"></div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                      <div class="countdown" data-date="{{page.page_content.date}}">
                        <div class="row text-center color-rose">
                          <div class="col-md-3">
                            <h3 data-days>0</h3>
                            <p class="mb-0">days</p>
                          </div>
                          <!--/column -->
                          <div class="col-md-3">
                            <h3 data-hours>0</h3>
                            <p class="mb-0">hours</p>
                          </div>
                          <!--/column -->
                          <div class="col-md-3">
                            <h3 data-minutes>0</h3>
                            <p class="mb-0">minutes</p>
                          </div>
                          <!--/column -->
                          <div class="col-md-3">
                            <h3 data-seconds>0</h3>
                            <p class="mb-0">seconds</p>
                          </div>
                          <!--/column -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!--/.countdown -->
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div><!-- /.wrapper --> 
                {% endif %}
                {% endif %}

                {% if page.progress_area.enable %}
                <div class="wrapper light-wrapper">
                  <div class="container inner">
                    <div class="row align-items-center text-center text-lg-left">
                      <div class="col-lg-4 ">
                        <h2 class="title-color color-gray">{{page.progress_area.title}}</h2>
                        <h1 class="display-3">{{page.progress_area.sub_title}}</h1>
                      </div>
                      <!--/column -->
                      <div class="space20 d-md-none"></div>
                      <div class="space50 d-none d-md-block d-lg-none"></div>
                      <div class="col-lg-8">
                        <div class="row text-center">
                          {% for list in page.progress_area.lists %}
                          <div class="col-md-4">
                            <div class="progressbar circle {{list.bar_color}}" data-value="{{list.numbers}}"></div>
                            <h5>{{list.title}}</h5>
                            <p>{{list.description}}</p>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.wrapper -->
                {% endif %}
                
                {% if page.clients_carousel.enable %}
                <div class="cliensts-carousel-wrapper">
                  <div class="space10"></div>
                        {% if page.clients_carousel.title %}
                        <div class="text-center">
                            <h2 class="title-bg bg-rose color-rose">{{page.clients_carousel.title}}</h2>
                        </div>
                        {% endif %}
                        <div class="space30"></div>
                        {% include clients_carousel.html %}
                    </div>
                </div>
                {% endif %}

                {% if page.two_column_two.enable %}
                <div class="two-column-two">
                    <div class="space120"></div>
                    <div class="row align-items-center">
                        {% if page.two_column_two.image %}
                        <div class="col-lg-6 order-lg-2">
                            <figure>
                                <img src="{{page.two_column_two.image}}" alt="{{page.two_column_two.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="col-lg-6 pl-60 pl-md-15">
                            {% if page.two_column_two.title %}
                            <h3 class="display-3">{{page.two_column_two.title}}</h3>
                            {% endif %}
                            <div class="space20"></div>
                            {% for text_data in page.two_column_two.paragraphs %}
                            <p>{{text_data.text}}</p>
                            {% endfor %} {% if page.two_column_two.button_text %}
                            <div class="space10"></div>
                            <a href="{{page.two_column_two.button_url}}" class="btn btn-default">{{page.two_column_two.button_text}}</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--/.row -->
                </div>
                {% endif %} 
                {% if page.two_column_three.enable %}
                <div class="two-column-three">
                    <div class="space140"></div>
                    <div class="row align-items-center">
                        {% if page.two_column_three.image %}
                        <div class="col-lg-6 order-lg-2">
                            <figure>
                                <img src="{{page.two_column_three.image}}" alt="{{page.two_column_three.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="col-lg-6 pl-60 pl-md-15">
                            {% if page.two_column_three.title %}
                            <h3 class="display-3">{{page.two_column_three.title}}</h3>
                            {% endif %}
                            <div class="space20"></div>
                            {% for text_data in page.two_column_three.paragraphs %}
                            <p>{{text_data.text}}</p>
                            {% endfor %} {% if page.two_column_three.button_text %}
                            <div class="space10"></div>
                            <a href="{{page.two_column_three.button_url}}" class="btn btn-default color-rose">{{page.two_column_three.button_text}}</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--/.row -->
                </div>
                {% endif %}
            </div>
            {% if page.faq_area.enable %}
            <div class="wrapper light-wrapper">
                <div class="container inner">
                    <div class="row mb-40">
                        {% if page.faq_area.image %}
                        <div class="col-lg-6">
                            <figure>
                                <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
                            </figure>
                        </div>
                        {% endif %}
                        <div class="space30 d-none d-md-block d-lg-none"></div>
                        <div class="space10 d-md-none"></div>
                        <div class="col-lg-6 pl-60 pl-md-15">
                            <h2 class="title-bg bg-rose color-rose">{{page.faq_area.title}}</h2>
                            <div class="space10"></div>
                            <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                            <div class="space20"></div>
                            <div id="accordion-2" class="accordion-wrapper simple">
                                {% for tab in page.faq_area.tabs %}
                                <div class="card">
                                    <div class="card-header" id="accordion-heading-2-1">
                                        <h5>
                                            <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                                  {{tab.question}}
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                        <div class="card-body">
                                            <p>
                                                {{tab.answer}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- /.accordion-wrapper -->
                        </div>
                    </div>
                </div>
            </div>
            {% endif %} 

        {% if page.testimonials.enable %}
        <div class="wrapper bg-opacity-default">
            <div class="container inner pb-0">
                <div class="row align-items-center">
                    {% if page.testimonials.image %}
                    <div class="col-md-5 col-lg-4 offset-lg-1 d-none d-md-flex">
                        <figure><img src="{{page.testimonials.image}}" alt="{{page.testimonials.image}}" /></figure>
                    </div>
                    {% endif %}
                    <div class="col-md-7 col-lg-6 pl-60 pl-md-15">
                        <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
                            {% for quote in page.testimonials.feedback %}
                            <div class="item">
                                <blockquote class="icon icon-left larger text-left">
                                    <p>"{{quote.quote}}"</p>
                                    <div class="blockquote-details">
                                        <div class="info p-0">
                                            <h6 class="mb-0">{{quote.name}}</h6>
                                            <span class="meta mb-0">{{quote.designation}}</span>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.item -->
                            {% endfor %}
                        </div>
                        <!-- /.owl-carousel -->
                        <div class="space10 d-lg-none"></div>
                        <div class="space30 d-md-none"></div>
                    </div>
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}
        {% include footer_3.html light_logo="true" %}
      </div>
</div>
