---
layout: page
title: "Our Philosophy"
sub_title: "Empowering users to gain control back over their recommendation feeds"
description: "Empowering users to gain control back over their recommendation feeds"
image: "/assets/images/art/og_img.png"

features_area:
  enable: true
  title: "What We Think"
  sub_title: "Recommendation algorithms conceal biases and judgments which influence the dissemination of ideas and culture."
  features:
    - title: "Algorithms are the gatekeepers of online content"
      icon: "/assets/images/icons/st-line-chart.png"
      description: "Most of the content consumed online is recommended by an algorithm. In particular, on YouTube, <b>70%</b> of videos viewed are <b>selected by one of the platform’s algorithms.</b><br><br>
      Though, there isn’t a single right way to select a handful of recommendations from billions of options. <b>Every algorithm is opinionated,</b> with its own objectives and trade-offs."

    - title: "Recommender Systems should work for the user, not against"
      icon: "/assets/images/icons/st-shield.png"
      description: "<b>Algorithms are designed to maximize financial interests</b>: generate clicks and ad-revenue. This amplifies the most sensationalist content, as the algorithm fights to hijack your attention.<br> <br>
      While much attention is focused on moderating harmful content, we should also consider the more constructive approach: <b>How can we promote better content, more aligned with the interest of the user?</b>"

    - title: "We trust YouTubers over YouTube"
      icon: "/assets/images/icons/st-handshake.png"
      description: "<br>We believe that content creators, who are the lifeblood of YouTube, should have the agency to recommend content from their own videos. <br> <br>
      In most cases, their topical human expertise remains more relevant than the AI to select related content of quality.<br> <br>
      This is also an opportunity for creators to prompt users to explore other websites, such as a news article or a blog post."

    - title: "We defend algorithmic agency for the user"
      icon: "/assets/images/icons/st-startup.png"
      description: "<br>YouTube leverages its domination on the video sharing market to impose its algorithm, which reflect the priorities of the company.<br><br>
      We believe that users should be empowered to choose how and from whom they want their content to be recommended.<br><br>
      <b>YouChoose will make alternative available</b>, including ones based on collective curation and Web3 ecosystems."

two_columns_area_one:
  enable: true
  image: "/assets/images/art/ui1.svg"
  title: "Become a data-activist, and participate to the first-ever Shadow Ban Tester!"
  btn_url: "/data-donation"
  btn_text: "More About Data Donation"
  description: |
    <p>On the browser extension, you can opt-in to <b>donate your YouTube recommendations records</b>, in order to support public-interest research.
        Indeed, YouTube's algorithm are extremely opaque, and their huge influence require independent scrutiny.
        <br><br>This is why we investigate and expose the behavior of these algorithms, a work made possible thanks to <b>user data donations</b>.
        By sharing your data, you also allow us to detect when the content creators you are subscribed to are being shadow banned, and help document algorithmic censorship.</p>

full_width_image:
  enable: false
  image: "/assets/images/art/bg8.svg"

---



<div class="wrapper overflow-top">
  <div class="container inner">
          <div class="row">
            <div class="space160"></div>
              <div class="col-md-9">
                  {% if page.features_area.title %}
                   <h2 class="title-color color-gray">{{page.features_area.title}}</h2>
                  {% endif %}
                  {% if page.features_area.sub_title %}
                   <h2 class="display-3">{{page.features_area.sub_title}}</h2>
                  {% endif %}
              </div>
          </div>
          <div class="space80"></div>
          {% if page.features_area.enable %}
          <div class="row gutter-60 gutter-md-30">
            {% for features in page.features_area.features %}
            <div class="col-md-6 col-lg-3">
                {% if features.icon %}
                <div>
                  <div class="icon icon-svg mr-25 mb-40">
                    <img src="{{features.icon}}" alt="{{features.title}}"/>
                  </div>
                </div>
                {% endif %}
              <h5>{{features.title}}</h5>
              <p>{{features.description}}</p>
            </div>
            {% endfor %}
          </div>
          <!--/.row -->
          {% endif %}
    {% if page.two_columns_area_one.enable %}
    <div class="space120"></div>
    <div class="row align-items-center">
      {% if page.two_columns_area_one.image %}
      <div class="col-lg-6">
        <figure><img src="{{page.two_columns_area_one.image}}" alt="{{page.two_columns_area_one.title}}"/></figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space40 d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        <h3 class="display-3">{{page.two_columns_area_one.title}}</h3>
        <div class="space20"></div>
         {{page.two_columns_area_one.description}}
        <div class="space10"></div>
        {% if page.two_columns_area_one.btn_url %}
         <a href="{{page.two_columns_area_one.btn_url}}" class="btn btn-rose">{{page.two_columns_area_one.btn_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
  <!-- /.container -->
  {% if page.full_width_image.enable %}
   <figure class="cover">
     <img src="{{page.full_width_image.image}}" alt="{{page.full_width_image.image}}"/>
  </figure>
  {% endif %}
</div>

