<nav class="navbar {% if include.extra_class %} {{include.extra_class}} {% endif %} navbar-hover-opacity navbar-expand-lg">
  <div class="{% if include.container_class %} {{include.container_class}} {% else %} container-fluid {% endif %} flex-row justify-content-center">
    <div class="navbar-brand">
      <a href="{{site.url}}">
        {% if include.light_logo %}
         <img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" class="{% if include.logo_class %} {{include.logo_class}} {% else %} logo-light {% endif %}" alt="{{site.data.general_settings.title}}"/>
         {% endif %}
         <img src="{{site.data.general_settings.black_logo_1x}}" srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x" class="{% if include.logo_class %} {{include.logo_class}} {% else %} logo-dark {% endif %} {% if include.black_logo_disable %} d-none {% endif %}" alt="{{site.data.general_settings.title}}"/>
      </a>
    </div>
    <div class="navbar-other ml-auto order-lg-3">
      <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
        <li class="nav-item">
          <div class="navbar-hamburger d-lg-none d-xl-none ml-auto">
            <button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button>
          </div>
        </li>
        <ul class="social social-mute social-s ml-auto mr-25 d-none d-sm-block">
          {% for social_info in site.data.general_settings.social_accounts.links %}
          <li><a href="{{social_info.url}}" target=blank><i class="{{social_info.icon}}"></i></a></li>
          {% endfor %}
        </ul>
        <li class="nav-item"><button class="plain d-none d-sm-block" data-toggle="offcanvas-info"><i class="jam jam-info"></i></button></li>
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-other -->
    <div class="navbar-collapse offcanvas-nav">
      <div class="offcanvas-header d-lg-none d-xl-none">
        <a href="{{site.url}}">
          <img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/></a>
        <button class="plain offcanvas-close offcanvas-nav-close"><i class="jam jam-close"></i></button>
      </div>
      <ul class="navbar-nav mx-auto">
      	{% for menu in site.data.navigation.main_menu %}
      	{% assign check_menu = menu.menu_type %}
      	{% case check_menu %}
        {% when "dropdown" %}
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{menu.url}}">{{menu.text}}</a>
            {% if menu.submenu %}
              <ul class="dropdown-menu">
                  {% for label_one in menu.submenu %}
                    <li><a class="dropdown-item" href="{{label_one.url}}">{{label_one.text}}</a></li>
                  {% endfor %}
              </ul>
            {% endif %}
        </li>
        {% else %}
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{menu.url}}">{{menu.text}}</a>
            {% if menu.submenu %}
                  <ul class="dropdown-menu">
                    {% for label_one in menu.submenu %}
                          <li><a class="dropdown-item" href="{{label_one.url}}">{{label_one.text}}</a></li>
                    {% endfor %}
                  </ul>
              {% endif %}
          </li>
        {% endcase %}
      	{% endfor %}
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- /.navbar -->
<div class="offcanvas-info inverse-text">
  <button class="plain offcanvas-close offcanvas-info-close"><i class="jam jam-close"></i></button>
  <a href="{{site.url}}">
  	<img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" class="{% if include.logo_class %} {{include.logo_class}} {% else %} logo-light {% endif %}" alt="{{site.data.general_settings.title}}"/>
  </a>
  <div class="space30"></div>
  <p>{{site.data.general_settings.description}}</p>
  <div class="space20"></div>
  <div class="widget">
    <h5 class="widget-title">Contacts</h5>
    {% if site.data.general_settings.address_01 %}
           <address>{{site.data.general_settings.address_01}}</address>
          {% endif %}
           <a href="mailto:{{site.data.general_settings.email}}">{{site.data.general_settings.email}}</a><br />
          {{site.data.general_setting.phone_number}}
    </div>
  <!-- /.widget -->
  <div class="widget">
    {% if site.data.general_settings.external_links.title %}
     <h3 class="widget-title">{{site.data.general_settings.external_links.title}}</h3>
    {% endif %}
    <ul class="list-unstyled">
     {% for external_link in site.data.general_settings.external_links.links %}
      <li><a href="{{external_link.url}}" target=blank class="nocolor">{{external_link.text}}</a></li>
     {% endfor %}
    </ul>
  </div>
  <!-- /.widget -->
  <div class="widget">
    {% if site.data.general_settings.social_accounts.title %}
     <h3 class="widget-title">{{site.data.general_settings.social_accounts.title}}</h3>
    {% endif %}
    <ul class="social social-mute social-s ml-auto">
      {% for social_info in site.data.general_settings.social_accounts.links %}
      <li><a href="{{social_info.url}}" target=blank><i class="{{social_info.icon}}"></i></a></li>
      {% endfor %}
    </ul>
  </div>
  <!-- /.widget -->
</div>
<!-- /.offcanvas-info -->