.bg-yc {
  background-color: #e33180;
}

.bg-standard {
  background-color: #f5f5f5;
}

/* I wasn't able to take this out from html, 
   I used <span>, as indicated in the webslides.

.bg-stripes {
  background-image:url('/images/smoke.jpeg');
}
*/

h1 {
    font-weight: bold ;
    text-align: center;
}
h1 span {
    width: 15.8rem;
}


[class*='bg-yt'] {
  color: #030303;
}

[class*='bg-standard'] {
  color: #030303;
} 

[class*='bg-black'],
[class*='bg-gradient-'] {
  color: #fff;
  text-shadow: 0 1px 0 #D9230F;
}


.primary {
  color: #1A030E;
}
.secondary {
  color: #e33180;
}
.third {
  color: #f5f5f5;
}

.yellow {
  color: #da9d00;
}

.grey {
  color: #5b5f6f;
}

.hlight {
  fill: black;
  font-size: 1.2em;
  color: #fff;
}

.other {
  fill: green;
}
 

/*
 I can't define the href color for a specific bg-*
 I can't define a specific span width for a single bg-*
 There are too many conflicts between the css working here,
 neither using !important is enought, but how to do that 
 without changing the theme css (webslides.css)?
 DA9D00 giallo
 E33180 fuxia
 5B5F6F grigio
 1A030E nero
 F5F5F5 bianco
*/ 

.subtitle {
  color: #e33180;
  font-size: 5rem;
}


.steps li:nth-child(1) {
  background-color: #5b5f6f20 !important;
}

.steps li:nth-child(2) {
  background-color: #5b5f6f30 !important;
}

.steps li:nth-child(3) {
  background-color: #cdd8ec; }

.steps li:nth-child(4) {
  background-color: #bbcdec; }