.titlehp {
  font-size:3rem; 
  font-weight: 700 !important;
  text-transform: uppercase;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.pre{
  padding: 0px !important; 
}

.fancybutton {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fba a {
  display: block;
  width: 260px;
  height: 80px;
  line-height: 70px;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: none;
  color: #333;
  border: 4px solid #333;
  letter-spacing: 6px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-bottom: 2rem;
}

.fba a span {
  position: relative;
  z-index: 2;
}

.fba a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #e33180;
  transition: all .35s;
}

.fba a:hover{
  color: #fff;
}

.fba a:hover:after{
  width: 100%;
}

