.titlehp {
  font-size:3rem; 
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 2rem;
  padding-top: 4rem;
  word-break: break-word;
}

.smallinfo {
  font-style: italic;
  text-align: center;
}

.pink {
  color:#e33180;
}

.pre {
  padding: 0px !important; 
}

.fba a {
  display: block;
  width: 260px;
  height: 80px;
  line-height: 70px;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: none;
  color: #333;
  border: 4px solid #333;
  letter-spacing: 6px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-bottom: 2rem;
}

.fba a span {
  position: relative;
  z-index: 2;
}

.fba a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #e33180;
  transition: all .35s;
}

.fba a:hover{
  color: #fff;
}

.fba a:hover:after{
  width: 100%;
}

.email-box {
  margin-left: 1rem;
}

.email-box__input {
  width: 22rem;
  border: 4px solid #333;
  border-radius: 0px;
  font-size: 1.4rem;
  padding: 1rem;
}